<template>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-borderless">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Data de nascimento</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user,index) in users" :key="index">
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.data_nasc}}</td>
                    <td><button @click="doEdit(user)" class="btn"><i class="fa fa-edit"></i></button></td>
                </tr>
                </tbody>
            </table>
            <pre>
                {{$data}}
            </pre>
        </div>
    </div>
</template>
<script>
    import axios from 'axios'
    export default {
        name: "api-users",
        data: function () {
            return {
                users: []
            }
        },
        methods:{
           gerUsers(){
               var self = this
               axios({
                   method: 'get',
                   url: 'http://laravel-api.local/api/users',
               }).then(function (response) {
                   self.users = response.data;
               });
           }
        },
        mounted() {
            this.gerUsers()
        }
    }
</script>

<style scoped>

</style>